%h2 Sign up
= simple_form_for @company, url: user_registration_path do |f|
  = f.error_notification
  .inputs
    = f.simple_fields_for @company.owner do |o|
      = o.input :email, required: true, autofocus: true
      = o.simple_fields_for @company.owner.profile do |p|
        = p.input :first_name, required: true
        = p.input :last_name, required: true
      = f.input :name, label: 'Company Name'
      = f.input :subdomain
      = o.input :password, required: true
      = o.input :password_confirmation, required: true
  .actions
    = f.button :submit, "Sign up"
= render partial: "devise/shared/links"
