%h2 Sign up
/= f.error_notification
= form_for @company, url: user_registration_path do |f| 
  .inputs
    = f.fields_for :users do |o| 
      = o.fields_for :profile do |p| 
        = p.label :first_name
        = p.text_field :first_name, required: true
        = p.label :last_name
        = p.text_field :last_name, required: true
      = o.label :email
      = o.text_field :email, required: true
      = f.label :name, 'Company Name'
      = f.text_field :name, required: true
      = f.label :subdomain
      = f.text_field :subdomain, required: true
      = o.label :password
      = o.password_field :password, required: true
      = o.label :password_confirmation
      = o.password_field :password_confirmation, required: true
  .actions
    = f.submit "Sign up"
= render partial: "devise/shared/links"

