%h2 Add a User
= form_for(@user) do |f|
  .inputs
    = f.label :email
    = f.text_field :email, required: true, autofocus: true
    = f.fields_for :profile do |p|
      = p.label :first_name
      = p.text_field :first_name, required: true
      = p.label :last_name
      = p.text_field :last_name, required: true
    %br
    =# f.select :role_ids, @roles, multiple: true, required: true
    = f.select :role_ids, @roles.map {|role| [role.name, role.id]}, { include_blank: true }, required: true, multiple: 'multiple'
  .actions
    = link_to(content_tag('i', '', class: 'icon-arrow-left') + " Back", '#', class: 'btn')
    = f.submit "Create User", class: 'btn-primary'
