.row
  .span4{ style: 'text-align:center' }
    - if @user.avatar.present?
      .thumbnail= image_tag @user.avatar.url
      #no-avatar= link_to 'Edit', '#', class: 'avatar-form-link' 
    - else
      - 5.times do |n|
        %br
      #no-avatar
        %h3
          %strong No avatar -
          = link_to '(Upload)', '#', class: 'avatar-form-link'

    #avatar-form{ style: 'display:none' }= render 'avatar_form', profile: @user.profile   
  .span7.well
    %dl
      %dt Name:
      %dd= @user.full_name.titleize 
    
      %dt Email:
      %dd= @user.email

      %dt Company:
      %dd= @user.company.try(:name)

      - if @user.roles.any?
        %dt Roles:
        %dd
          %ul
            - @user.roles.each do |role|
              %li= role.name.humanize

- if owner?(@user)
  %h2 Authentications:
  .row.well
    .thumbnail.span1= image_tag 'facebook.png'
    .span10
      - if @user.authentications.facebook.present?
        - authentication = @user.authentications.facebook.first
        %dl
          %dt UID:
          %dd= authentication.uid

          %dt Access Token:
          %dd= authentication.access_token
        = link_to 'Remove', authentication_path(authentication), method: :delete
      - else
        = link_to 'Add Facebook', user_omniauth_authorize_path(:facebook)
  .row.well
    .thumbnail.span1= image_tag 'google.png'
    .span10
      - if @user.authentications.google.present?
        - authentication = @user.authentications.google.first
        %dl
          %dt UID:
          %dd= authentication.uid
        = link_to 'Remove', authentication_path(authentication), method: :delete
      - else
        = link_to 'Add Google', user_omniauth_authorize_path(:google)

- if owner?(@user) && @user.authentications.facebook.present?
  %h2 Post To Facebook:
  .row.well
    = form_for @user, url: fb_post_user_path, html: { method: :put } do |f|
      .center
        = text_area_tag :message, nil, class: 'span11 non-resizeable', rows: 5

      .form-actions
        = f.submit 'Post', class: 'btn-primary'

= link_to users_path, :class => 'btn primary' do
  <i class="icon-arrow-left icon-black"></i> Back

= link_to root_url, :class => 'btn primary' do
  <i class="icon-home icon-black"></i> Home

= link_to edit_user_path, :class => 'btn primary' do
  <i class="icon-pencil icon-black"></i> Edit
