%p
  User: #{@user.full_name.titleize}
%p
  Email: #{@user.email}
%p
  Company: #{@user.company.try(:name)}
- if @user.roles.any?
  %p
    Roles:
    %ul
      - @user.roles.each do |role|
        %li= role.name.humanize

- if @user.avatar.present?
  .thumbnail.span2
    = image_tag @user.avatar.url
- else
  %p 
    No avatar

= render 'avatar_form', profile: @user.profile

%p Authentications:
.row
  .thumbnail.span1= image_tag 'facebook.png'
  .span10
    - if @user.authentications.facebook.present?
      - authentication = @user.authentications.facebook.first
      %p UID: #{authentication.uid}
      %p Access Token: #{authentication.access_token}
      = link_to 'Remove', authentication_path(authentication), method: :delete
    - else
      = link_to 'Add Facebook', user_omniauth_authorize_path(:facebook)
%br
.row
  .thumbnail.span1= image_tag 'google.png'
  .span10
    - if @user.authentications.google.present?
      - authentication = @user.authentications.google.first
      %p UID: #{authentication.uid}
      = link_to 'Remove', authentication_path(authentication), method: :delete
    - else
      = link_to 'Add Google', user_omniauth_authorize_path(:google)
